<div id="itemVa">
        <div class="row s-px-20">
            <template>
                <div class="col-12">
                    <div class="row s-my-50" 
                        v-for="(item, index) in bankArray" 
                        :key="index">
                        <BaseRadioPeriod 
                        :periodLabel="item.name" 
                        :radioValue="item.id" 
                        :radioChecked="virtuals" 
                        v-model="virtuals" 
                        :radioName="'virtualAccount'" 
                        :paymentMethod=true 
                        :periodPrice="'150,000'" 
                        :radioId="'virtualAccount-'+item.id" 
                        :paymentImage="item.image">
                        <slot>
                            <div class="col-12 wrapper-input" v-if="virtuals == item.id">
                                <span>item id : {{ item.id }} -- periode value : {{periodValue  }} -- index : {{ index }}
                                    <br>
                                    {{ item || json }}</span>
                            </div>                       
                        </slot>
                        </BaseRadioPeriod>
    
                    </div>
                </div>
            </template>
        </div>                                          
    </div>