<div id="itemCreditCard">
        <div class="row s-px-20">
            <template> 
                <div class="col-12">
                    <div class="row s-my-50">
                                <BaseRadioPeriod 
                                :periodLabel="'GO-PAY 123123'"
                                :radioValue="3"
                                :radioChecked="periodValue"
                                v-model="periodValue" 
                                :radioName="'123'"
                                :paymentMethod=true
                                :periodPrice="'150,000'"
                                :radioId="'fullPayment'"
                                :paymentImage = "'https://img11.360buyimg.com/Indonesia/jfs/t1/10395/16/11504/1476/5c6fda8eE3bdbddf7/c14dc0e056773836.png'"
                            >
                          <div>
                              <div class="col-12">
                                  <span>123</span>
                              </div>
                          </div>
                            </BaseRadioPeriod>
                                
                                    

                    </div>
                </div>
            </template>
        </div>
</div>