<div id="itemCreditCard">
	<div class="row s-px-20">
		<template> 
			<div class="col-12">
				<div class="row s-mb-25">
					<BaseRadioPeriod 
					:periodLabel="'GO-PAY'"
					:radioValue="3"
					:radioChecked="periodValue"
					v-model="periodValue" 
					:radioName="'123'"
					:paymentMethod=true
					:periodPrice="'150,000'"
					:radioId="'fullPayment'"
					:paymentImage = "'https://img11.360buyimg.com/Indonesia/jfs/t1/20182/25/7612/5161/5c6e531dEa44d56b0/4084163f708600ea.png'"
				>
				</BaseRadioPeriod>
				</div>
			</div>
		</template>
	</div>
</div>