<div id="cashierDetail" class="col-4">
    <div class="col-12">
        <div class="card">
            <div class="container">
                <div class="det-title">Ringkasan Pemesanan <span>(1 Barang)</span></div>
                <div class="det-content">
                    <p class="det-content-t">Nomor Pesanan</p>
                    <p class="det-content-b">73478474949</p>
                </div>
                <div class="det-content">
                    <p class="det-content-t">Batas Pembayaran</p>
                    <BaseCountdown
                        :date="detailDate"
                    />
                </div>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <div class="det-title">Detail Harga</div>
                <div class="det-content price">
                    <ul class="s-pr-0">
                        <li>
                            <div class="item-l">Harga Pesanan:</div>
                            <div class="item-r">Rp 1,400,000</div>
                        </li>
                        <li>
                            <div class="item-l">Diskon Pesanan:</div>
                            <div class="item-r">- Rp 401,000</div>
                        </li>
                        <li>
                            <div class="item-l">Potongan Kupon:</div>
                            <div class="item-r">- Rp 0</div>
                        </li>
                        <li>
                            <div class="item-l">Biaya Pengiriman:</div>
                            <div class="item-r">Rp 0</div>
                        </li>
                        <li>
                            <div class="total-l">Jumlah:</div>
                            <div class="total-r">Rp 999,000</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ItemOrderDetails/>
    </div>
</div>