<div 
	id="paymentSidebar" 
	class="payment-sidebar"
>
	<BaseLogo class="s-px-10" :logoWidth="30"/>
	<div class="title-sidebar-frame">
		<p class="title-sidebar">Metode Pembayaraan</p>
	</div>
	<div id="paymentMethod">
		<div 
			class="row payment-sidebar-item" 
			v-for="(s, item) in publicPath" 
			:key="item.id"
			@click="sendBankName(s,s.payMethodCode)"
			:class = "{'active' : isActive === s, 's-px-10' : isActive != s }"
		>
			<div class="col-12 s-pad">
				<div class="row">
					<div class="col-9">
						<span class="s-d-b span-bank-name s-ft-r"> {{ s.bankName }} 
							<!-- {{s.image}} -->
						


						</span>	
						<!-- <img v-for="(kkj, index) in s.image" :key="index" :src="kkj" class="testing" alt="213123"> -->
						<img :src="s.imgPc">
					</div>
					<div class="payment-method-recomended">
						<span class="border-with-doted yellow" v-if="s.isPromo">Promo</span>
						<span class="border-with-doted red" v-if="s.isRecommended">Recomended</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 img-secure">
		<img class="secure-image-bottom" src="https://img11.360buyimg.com/Indonesia/jfs/t1/5054/33/8602/366742/5ba9fda8Ee74d7886/c8f92aae659d2d44.png"><br>
	</div>
</div>