<div id="containerItem">
	<template v-if="post === 'OnlinePay'">
			<ItemCreditCard />

	</template>
	<template v-if="post === 'emoney' || post === undefined">
			<ItemGopay></ItemGopay>
	</template>

	<template v-if="post === 'VAccount'">
		<ItemVa></ItemVa>
	</template>
	
	<template v-if="post === 'MFinance' ">
		<ItemMf />
	</template>

	<template v-if="post === 'BTransfer'">
		<ItemBankTransfer></ItemBankTransfer>
	</template>

	<template v-if="post === 'CStore'">
		<ItemCs />
	</template>
</div>