<div class="card">
    <div class="container">
        <div class="det-title">Detail Pesanan</div>
        <div class="line"></div>
        <div class="flight-depart mt30 mb30">
            <div class="goods-title">Pergi
                <span>Langsung</span>
            </div>
            <div class="flight-detail">
                <div class="flight-info">
                    <div class="left-flight-info fl">
                        <img src="https://ir.airasia.com/images/logo/airasia.png" class="flight-logo">
                    </div>
                    <div class="right-flight-info fr">
                        <p class="flight-name">Citilink</p>
                        <p class="flight-code">QG-680</p>
                        <p class="flight-class">Economy</p>
                    </div>
                </div>
                <div class="schedule-info">
                    <p>Sel,12 Februari 2019</p>
                    <p class="schedule-destination">
                        <span class="depart">Jakarta</span>
                        <i></i>
                        <span class="arrival">Bali / Denpasar</span>
                    </p>
                </div>
                <div class="schedule-flight-info">
                    <div class="schedule-flight schedule-flight-depart">
                        <div class="icon-flight">
                        </div>
                        <div class="schedule-flight-time">
                            <p>22:45</p>
                            <small>2019/12/2</small>
                        </div>
                        <div class="schedule-flight-airport">
                            <p>CGK <span>(Jakarta)</span></p>
                            <small>Soekarno Hatta Int'l Airport 2F</small>
                        </div>
                    </div>
                    <div class="line-schedule-flight"></div>
                    <div class="schedule-flight schedule-flight-arrival">
                        <div class="icon-flight">
                        </div>
                        <div class="schedule-flight-time">
                            <p>07:55</p>
                            <small>2019/12/2</small>
                        </div>
                        <div class="schedule-flight-airport">
                            <p>DPS <span>(Bali / Denpasar)</span></p>
                            <small>Ngurah Rai Int'l Domestic</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="flight-return mt30 mb30">
            <div class="goods-title">Pulang
                <span>Langsung</span>
            </div>
            <div class="flight-detail">
                <div class="flight-info">
                    <div class="left-flight-info fl">
                        <img src="https://ir.airasia.com/images/logo/airasia.png" class="flight-logo">
                    </div>
                    <div class="right-flight-info fr">
                        <p class="flight-name">Citilink</p>
                        <p class="flight-code">QG-680</p>
                        <p class="flight-class">Economy</p>
                    </div>
                </div>
                <div class="schedule-info">
                    <p>Sel,12 Februari 2019</p>
                    <p class="schedule-destination">
                        <span class="depart">Jakarta</span>
                        <i></i>
                        <span class="arrival">Bali / Denpasar</span>
                    </p>
                </div>
                <div class="schedule-flight-info">
                    <div class="schedule-flight schedule-flight-return">
                        <div class="icon-flight">
                        </div>
                        <div class="schedule-flight-time">
                            <p>22:45</p>
                            <small>2019/12/2</small>
                        </div>
                        <div class="schedule-flight-airport">
                            <p>CGK <span>(Jakarta)</span></p>
                            <small>Soekarno Hatta Int'l Airport 2F</small>
                        </div>
                    </div>
                    <div class="line-schedule-flight"></div>
                    <div class="schedule-flight schedule-flight-arrival">
                        <div class="icon-flight">
                        </div>
                        <div class="schedule-flight-time">
                            <p>07:55</p>
                            <small>2019/12/2</small>
                        </div>
                        <div class="schedule-flight-airport">
                            <p>DPS <span>(Bali / Denpasar)</span></p>
                            <small>Ngurah Rai Int'l Domestic</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>