<div class="card" :class="accordionClasses">
    <div class="container">
        <div class="det-title">Detail Pesanan</div>
        <div class="ord-det-top" @click="toggleAccordion">
            <div class="left-img-info">
                <img src="https://img11.360buyimg.com/Indonesia/jfs/t1/17143/30/9413/2960/5c7e5b6dE9462ebad/58ad2534292289dd.png" class="flight-logo">
            </div>
            <div class="right-ord-info fr">
                <p>Perjalanan</p>
                <p class="sub-title">Tiket Pesawat</p>
            </div>
            <div class="det-title">Detail Harga</div>
                <div class="det-content price">
                    <ul class="s-pr-0">
                        <li>
                            <div class="item-l">Harga Pesanan:</div>
                            <div class="item-r">Rp 1,400,000</div>
                        </li>
                        <li>
                            <div class="item-l">Diskon Pesanan:</div>
                            <div class="item-r">- Rp 401,000</div>
                        </li>
                        <li>
                            <div class="item-l">Potongan Kupon:</div>
                            <div class="item-r">- Rp 0</div>
                        </li>
                        <li>
                            <div class="item-l">Biaya Pengiriman:</div>
                            <div class="item-r">Rp 0</div>
                        </li>
                        <li>
                            <div class="total-l">Jumlah:</div>
                            <div class="total-r">Rp 112,500</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="message-body">
            <div class="message-content">
                <div class="flight-depart mt30 mb30">
                    <div class="goods-title">Pergi
                        <span>Langsung</span>
                    </div>
                    <div class="flight-detail">
                        <div class="flight-info">
                            <div class="left-flight-info fl">
                                <img src="https://ir.airasia.com/images/logo/airasia.png" class="flight-logo">
                            </div>
                            <div class="right-flight-info fr">
                                <p class="flight-name">Citilink</p>
                                <p class="flight-code">QG-680</p>
                                <p class="flight-class">Economy</p>
                            </div>
                        </div>
                        <div class="schedule-info">
                            <p>Sel,12 Februari 2019</p>
                            <p class="schedule-destination">
                                <span class="depart">Jakarta</span>
                                <i></i>
                                <span class="arrival">Bali </span>
                            </p>
                        </div>
                        <div class="schedule-flight-info">
                            <div class="schedule-flight schedule-flight-depart">
                                <div class="icon-flight">
                                </div>
                                <div class="schedule-flight-time">
                                    <p>22:45</p>
                                    <small>2019/12/2</small>
                                </div>
                                <div class="schedule-flight-airport">
                                    <p>CGK <span>(Jakarta)</span></p>
                                    <small>Soekarno Hatta Int'l Airport 2F</small>
                                </div>
                            </div>
                            <div class="line-schedule-flight"></div>
                            <div class="schedule-flight schedule-flight-arrival">
                                <div class="icon-flight">
                                </div>
                                <div class="schedule-flight-time">
                                    <p>07:55</p>
                                    <small>2019/12/2</small>
                                </div>
                                <div class="schedule-flight-airport">
                                    <p>DPS <span>(Bali / Denpasar)</span></p>
                                    <small>Ngurah Rai Int'l Domestic</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </v-container>
    </div>
</div>