<div id="itemCreditCard">
		<div class="row s-px-20">
			<div class="col-12 s-ta-c s-my-20">
				<BaseSecondButton 
					v-if="dummyCard"
					@click.native="templateForm"
					:title="titleButtonTemplate"
					class="with-arrow"
				/>
			</div>	
			<template v-if="bindCard"> <!--  this template for already binded card -->
				<div class="col-12">
					<div class="row s-my-20">
						<div class="col-1">
							<a 
								class="custom-arrow left" 
								:class="{'disabled': currentCardActive == 0}"
								@click="prevCard"
							/>
						</div>
						<div class="col-10">
							<transition 
								v-for="(card, index) in dummyCard"
								name="slide-fade"
								:key="index"
							>
								<BaseCardFrame 
									:cardNumber="card.nomorKartu"
									:cardNameHolder="card.namaPemegang"
									:cardExpired="card.expiredCard"
									:cardType="card.typeCard"
									:cardPromo="card.promo"
									v-if="index == currentCardActive"
									:class="'m-0-a'"
								/>
							</transition>
						</div>
						<div class="col-1">
							<a 
								class="custom-arrow right t-a-r" 
								:class="{'disabled': maxCardShow}"
								@click="nextCard"
							/>
						</div>
						<div class="col-12 dots s-mt-10 s-ta-c">
							<span 
								v-for="(dots, index) in dummyCard.slice(0,3)"
								class="custom-dots"
								@click="dotsCard(index)"
								:class="{'active':index == currentCardActive}"
							/>
						</div>
					</div>
					<div class="row">
						<form @submit.prevent="checkForm">
							<div class="col-12">
								<BaseFormGroup 
									:labelTitle="'Nomor Kartu'"
									:inputId="'cardNoInput'"
									:errorMessage="hasError['noCard'].errorMessage"
								>
									<input 
										type="text" 
										@input="removeError('noCard')"
										class="s-form-control"
										:class="{'has-error' : hasError['noCard'].errorMessage != null}"
										v-model="cardNoModel"
										id="cardNoInput"
										readonly="true" 
										>
								</BaseFormGroup>
							</div>

							<div class="col-8">
								<BaseFormGroup 
									:labelTitle="'Nama Pemegang Kartu'"
									:inputId="'holderNameInput'"
									:errorMessage="hasError['holderName'].errorMessage"
								>
									<input 
										type="text" 
										@input="removeError('holderName')"
										class="s-form-control"
										:class="{'has-error' : hasError['holderName'].errorMessage != null}"
										v-model="holderNameModel" 
										id="holderNameInput"
										readonly="true" 
										>
								</BaseFormGroup>
							</div>

							<div class="col-4">
								<BaseFormGroup 
									:labelTitle="'CCV / CVV'"
									:inputId="'cvvInput'"
									:withInfo="true"
									:errorMessage="hasError['cvv'].errorMessage"
								>
									<input 
										type="number" 
										@input="removeError('cvv')"
										class="s-form-control"
										:class="{'has-error' : hasError['cvv'].errorMessage != null}"
										v-model="cvvModel" 
										id="cvvInput"
										maxlength="3" 
										>
										<template v-slot:info-header>
											<img class="cvv-info" src="@/assets/images/icon/cvv-label-info.png" />
										</template>
									</BaseFormGroup>
							</div>
							<div class="col-12">
								<label class="form-group">Periods</label>
								<div class="payment-periods">
									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'Full Payment'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'fullPayment'"
											:radioValue="'FP'"
											:radioChecked="periodValue"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>

									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'3'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'3-periods'"
											:radioValue="3"
											:radioChecked="periodValue"
											:radioDisabled="true"
											periodIst="true"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>

									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'4'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'4-periods'"
											:radioValue="4"
											:radioChecked="periodValue"
											periodIst="true"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>

									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'5'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'5-periods'"
											:radioValue="5"
											:radioChecked="periodValue"
											periodIst="true"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</template>

			<template v-else>
				<div class="row">
						<form @submit.prevent="checkForm">
							<div class="col-12">
								<BaseFormGroup 
									:labelTitle="'Nomor Kartu'"
									:inputId="'cardNoInput'"
									:errorMessage="hasError['noCard'].errorMessage"
								>
									<input 
										type="text" 
										@input="removeError('noCard')"
										class="s-form-control"
										:class="{'has-error' : hasError['noCard'].errorMessage != null}"
										v-model="cardNoModel" 
										id="cardNoInput"
										@keyup="this.$root.creditCardFormat"
										>
								</BaseFormGroup>
							</div>

							<div class="col-5">
								<BaseFormGroup 
									:labelTitle="'Nama Pemegang Kartu'"
									:inputId="'holderNameInput'"
									:errorMessage="hasError['holderName'].errorMessage"
								>
									<input 
										type="text" 
										@input="removeError('holderName')"
										class="s-form-control"
										:class="{'has-error' : hasError['holderName'].errorMessage != null}"
										v-model="holderNameModel" 
										id="holderNameInput"
										>
								</BaseFormGroup>
							</div>

							<div class="col-4">
								<BaseFormGroup 
									:labelTitle="'Tanggal Kadaluarsa'"
									:inputId="'expiredDate'"
									:withInfo="true"
									:errorMessage="hasError['expiredDate'].errorMessage"
								>
									<input 
										type="text" 
										@input="removeError('expiredDate')"
										class="s-form-control expired-date"
										:class="{'has-error' : hasError['expiredDate'].errorMessage != null}"
										v-model="expiredDateModel" 
										id="expiredDate"
										maxlength="5"
										@keyup="changeFormat"
										placeholder="MM/YY" 
										>

										<template v-slot:info-header>
											<img class="cvv-info" src="@/assets/images/icon/expired-card-info.png" />
										</template>
									</BaseFormGroup>
							</div>

							<div class="col-3">
								<BaseFormGroup 
									:labelTitle="'CCV / CVV'"
									:inputId="'cvvInputNew'"
									:withInfo="true"
									:errorMessage="hasError['cvv'].errorMessage"
								>
									<input 
										type="text" 
										@input="removeError('cvv')"
										class="s-form-control"
										:class="{'has-error' : hasError['cvv'].errorMessage != null}"
										v-model="cvvModel" 
										id="cvvInputNew"
										maxlength="3"
										@keyup="this.$root.numberFormat"
										>

										<template v-slot:info-header>
											<img class="cvv-info" src="@/assets/images/icon/cvv-label-info.png" />
										</template>
									</BaseFormGroup>
							</div>
							<div class="col-12">
								<label class="form-group">Periods</label>
								<div class="payment-periods">
									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'Full Payment'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'fullPayment'"
											:radioValue="'FP'"
											:radioChecked="periodValue"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>

									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'3'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'3-periods'"
											:radioValue="3"
											:radioChecked="periodValue"
											:radioDisabled="true"
											periodIst="true"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>

									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'4'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'4-periods'"
											:radioValue="4"
											:radioChecked="periodValue"
											periodIst="true"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>

									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'5'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'5-periods'"
											:radioValue="5"
											:radioChecked="periodValue"
											periodIst="true"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>
								</div>
							</div>

							<div class="col-12">
								<BaseCheckbox
									:labelCheckbox="'Saya setuju untuk menyimpan informasi pembayaran'"
									:idCheckbox="'saveNewCard'"
									v-model="saveNewCardModel"
									class="s-tc-red s-mt-30"
								/>
							</div>
						</form>
					</div>
			</template>
		</div>
</div>