<div id="itemCreditCard">
		<div class="row s-px-20">
			<div class="col-12 s-ta-c s-mb-30">
				<BaseSecondButton 
					:title="'Gunakan Kartu Baru'"
				/>
			</div>	
			<template v-for="(kadal, index) in kadalObject">
					<BaseSubPayment 
					:key="index"
					
					:object="kadal.nama" />

			</template>
			<template> <!--  this template for already binded card -->
				<div class="col-12">
					<div class="row s-my-50">
						<div class="col-1">
							<a class="custom-arrow left"></a>
						</div>
						<div class="col-10">
							<BaseCardFrame :class="'m-0-a'" />
						</div>
						<div class="col-1">
							<a class="custom-arrow right t-a-r"></a>
						</div>
						<div class="col-12 dots s-mt-10 s-ta-c">
							<span class="custom-dots active"></span>
							<span class="custom-dots"></span>
							<span class="custom-dots"></span>
						</div>
					</div>
					<div class="row">
						<form @submit.prevent="checkForm">
							<div class="col-12">
								<BaseFormGroup 
									:labelTitle="'Nomor Kartu'"
									:inputId="'cardNoInput'"
									:errorMessage="hasError['noCard'].errorMessage"
								>
									<input 
										type="text" 
										@input="removeError('noCard')"
										class="s-form-control"
										:class="{'has-error' : hasError['noCard'].errorMessage != null}"
										v-model="cardNoModel" 
										id="cardNoInput"
										readonly="true" 
										>
								</BaseFormGroup>
							</div>

							<div class="col-8">
								<BaseFormGroup 
									:labelTitle="'Nama Anda'"
									:inputId="'holderNameInput'"
									:errorMessage="hasError['holderName'].errorMessage"
								>
									<input 
										type="text" 
										@input="removeError('holderName')"
										class="s-form-control"
										:class="{'has-error' : hasError['holderName'].errorMessage != null}"
										v-model="holderNameModel" 
										id="holderNameInput"
										readonly="true" 
										>
								</BaseFormGroup>
							</div>

							<div class="col-4">
								<BaseFormGroup 
									:labelTitle="'CCV / CVV'"
									:inputId="'cvvInput'"
									:errorMessage="hasError['cvv'].errorMessage"
								>
									<input 
										type="number" 
										@input="removeError('cvv')"
										class="s-form-control"
										:class="{'has-error' : hasError['cvv'].errorMessage != null}"
										v-model="cvvModel" 
										id="cvvInput"
										maxlength="3" 
										>
									</BaseFormGroup>
							</div>
							<div class="col-12">
								<label class="form-group">Periods</label>
								<div class="payment-periods">
									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'Full Payment'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'fullPayment'"
											:radioValue="'FP'"
											:radioChecked="periodValue"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>

									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'3'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'3-periods'"
											:radioValue="3"
											:radioChecked="periodValue"
											:radioDisabled="true"
											periodIst="true"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>

									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'4'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'4-periods'"
											:radioValue="4"
											:radioChecked="periodValue"
											periodIst="true"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>

									<div class="col-4">
										<BaseRadioPeriod 
											:periodLabel="'5'"
											:periodPrice="'150,000'"
											:radioName="'periode'"
											:radioId="'5-periods'"
											:radioValue="5"
											:radioChecked="periodValue"
											periodIst="true"
											v-model="periodValue"
										>
										</BaseRadioPeriod>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</template>
		</div>
</div>