<div id="itemCsStore">
        <div class="row s-px-20">
            <template>
                <div class="col-12">
                    <div class="row s-mb-25" 
                        v-for="(item, index) in bankArray" 
                        :key="index">
                        <BaseRadioPeriod 
                        :periodLabel="item.name" 
                        :radioValue="item.id" 
                        :radioChecked="csStore" 
                        v-model="csStore" 
                        :radioName="'convienceStore'" 
                        :paymentMethod=true 
                        :periodPrice="'150,000'" 
                        :radioId="'convienceStore-'+item.id" 
                        :paymentImage="item.image">
                        <slot>
                            <div class="col-12 wrapper-input s-p-5 " v-if="csStore == item.id">
                                <div class="col-12 "  >
                                    <BaseFormGroup 
                                    :labelTitle="'Nomor Handphone / Email '"
                                    infoInputMessage="Informasi Bank Transfer akan dikirimkan melalui Handphone dan Email Anda"
                                >
                                    <input 
                                        type="text" 
                                        class="s-form-control"
                                        >
                                </BaseFormGroup>   
                                </div>
 
                            </div>                       
                        </slot>
                        </BaseRadioPeriod>
    
                    </div>
                </div>
            </template>
        </div>                                          
</div>