<div id="baseCardFrame">
	<div class="row">
		<div class="col-12 chip-section">
			<img class="chip-icon" src="@/assets/images/icon/credit-card-chip.png" />
		</div>

		<div class="col-12 number-section">
			<h5>
				<span class="hidden-number">XXXX</span>
				<span class="hidden-number">XXXX</span>
				<span class="hidden-number">XXXX</span>
				<span class="last-number">{{lastCardNumber}}</span>
			</h5>
		</div>

		<div class="col-12 details-section">
			<div class="col-5">
				<p>{{cardNameHolder}}</p>
			</div>
			<div class="col-3">
				<p class="s-ta-c"><span>{{cardExpiredMonth}}</span><span class="cvv-divider">&#47;</span><span>{{cardExpiredYear}}</span></p>
			</div>
			<div class="col-4 logo-gateway">
				<img src="@/assets/images/icon/visa-logo.png" v-if="cardType == 'visa'"/>
				<img src="@/assets/images/icon/mastercard-logo.png" v-if="cardType == 'mastercard'" />
			</div>
		</div>
	</div>
</div>