<div id="baseCardFrame">
	<div class="row">
		<div class="col-12 chip-section">
			<img class="chip-icon" src="@/assets/images/icon/credit-card-chip.png" />
		</div>

		<div class="col-12 number-section">
			<h5>
				<span class="hidden-number">XXXX</span>
				<span class="hidden-number">XXXX</span>
				<span class="hidden-number">XXXX</span>
				<span class="last-number">1921</span>
			</h5>
		</div>

		<div class="col-12 details-section">
			<div class="col-4">
				<p>Felix Andrean</p>
			</div>
			<div class="col-4">
				<p class="s-ta-c"><span>01</span><span class="cvv-divider">&#47;</span><span>20</span></p>
			</div>
			<div class="col-4 logo-gateway">
				<img src="@/assets/images/icon/visa-logo.png" />
			</div>
		</div>
	</div>
</div>