body{
	margin: 0;
}

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input{
	margin: 0;
}

input,
select,
textarea,
button {
	&:focus{
    outline: none;
	}
}