$font-family: "Lato";
$font-type: Light, Regular, Bold;
$font-weight: 300, 400, 700;
$font-path: '~@/assets/fonts/';

@for $i from 1 through length($font-type) {
  $src: #{$font-path + "Lato/Lato-"}#{nth($font-type, $i)};
  @font-face {
    font-family : $font-family;
    src         : url('#{$src}.ttf');
    src         : url('#{$src}.ttf') format('truetype');
    font-style  : normal;
    font-weight : nth($font-weight, $i);
  }
}

html, body{
	font-family: Lato, Sans-serif;
}