/* .s = Set */

// for margin Styling
@mixin margin-padding($min, $max){
	@for $i from $min to $max+1{
		.s-m-#{$i} {
			margin:#{$i}px !important;
		}

		.s-mt-#{$i} {
			margin-top:#{$i}px!important;
		}

		.s-mb-#{$i}{
			margin-bottom:#{$i}px!important;
		}

		.s-mr-#{$i}{
			margin-right:#{$i}px!important;
		}

		.s-ml-#{$i}{
			margin-left:#{$i}px!important;
		}

		.s-mx-#{$i}{
			margin-top:#{$i}px!important;
			margin-bottom:#{$i}px!important;
		}

		.s-my-#{$i}{
			margin-left:#{$i}px!important;
			margin-right:#{$i}px!important;
		}

		.s-p-#{$i}{
			padding:#{$i}px!important;
		}

		.s-pt-#{$i}{
			padding-top:#{$i}px!important;
		}

		.s-pb-#{$i}{
			padding-bottom:#{$i}px!important;
		}

		.s-pr-#{$i}{
			padding-right:#{$i}px!important;
		}

		.s-pl-#{$i}{
			padding-left:#{$i}px!important;
		}

		.s-py-#{$i}{
			padding-top:#{$i}px!important;
			padding-bottom:#{$i}px!important;
		}

		.s-px-#{$i}{
			padding-right:#{$i}px!important;
			padding-left:#{$i}px!important;
		}
	}
}

@include margin-padding(0, 100);

// mixins for text align
$a-code : l, c, r, j;
$align : left, center, right, justify;
@for $a from 1 through length($a-code) {
  .s-ta-#{nth($a-code, $a)} {
    text-align: #{nth($align, $a)};
  }
}

// Font Weight [.s-ft-($w-code)]
$fw-code: l, r, b;
$fw-value: 300, 400, 700;
@for $w from 1 through length($fw-code) {
  .s-ft-#{nth($fw-code, $w)} {
    font-weight: #{nth($fw-value, $w)}
  }
}

.clearfix{
	clear: both;
}

.s-float-l{
	float: left!important;
}

.s-float-r{
	float: right!important;
}