// Breakpoints
$v-sm   : 767px;
$v-md   : 992px;
$v-lg   : 1300px;

//container size
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1170px;

//color
$v-black: #464646;
$v-red: #CB2E36;
$v-grey: #A7A7A7;