// Breakpoints
$v-sm   : 767px;
$v-md   : 992px;
$v-lg   : 1300px;

//container size
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1280px;

//color
$v-black: #464646;
$v-blue: #008BE0;
$v-red: #CB2E36;
$v-grey: #A7A7A7;
$v-white: #fff;
$v-border-input: #E6E6E6;
$v-label-input: #726E6E;